JWT_SECRET='your_jwt_secret_here'
ACCESS_TOKEN_VALIDITY_DURATION_IN_SEC="3600s"
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_NAME=mydatabase
DB_PASSWORD=mypassword

# Database URL for Prisma
DATABASE_URL="postgresql://postgres:mypassword@postgres:5432/mydatabase?schema=public"

# Google OAuth Configuration
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"
GOOGLE_AUTH_URL="https://accounts.google.com/o/oauth2/v2/auth"
GOOGLE_TOKEN_URL="https://www.googleapis.com/oauth2/v4/token"
GOOGLE_USER_INFO_URL="https://www.googleapis.com/oauth2/v2/userinfo"
GOOGLE_SCOPE="profile email"
